/* ----------------------*/
/* BASIC SETUP */
/* ----------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------*/
/* REUSABLE COMPONENTS */
/* ----------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 40px 0;
}

h1:after {
    display: block;
    height: 4px;
    background-color: #f4ada6;
    content: " ";
    width: 400px;
    margin: 0 auto;
    margin-top: 15px;
}


/* ----------------------*/
/* HEADER */
/* ----------------------*/

header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(img/main.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.main-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-text-box h1 {
    font-family: 'Lato', 'Arial', sans-serif;
    color:#dbd9d9;
}

.home {
    padding: 8px 0;
    float: left;
    margin-top: 25px;
    text-decoration: none;
    color: #f4ada6;
    word-spacing: 8px;
    font-size: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.home:hover,
.home:active {
    border-bottom: 4px solid #f4ada6;
}


.main-nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color:#dbd9d9;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 70%;
    letter-spacing: 2px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 4px solid #f4ada6;
    font-size: 105%;
}


h1 {
    font-size: 220%;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 3px;
    color: #cbcaca;
    text-align: center;
    color: #555;
}

.main-text-box h1:after {
    display: none;
}

h2 {
    font-size: 150%;
    color: #355E3B;
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 3px;
}

/* ----------------------*/
/* OUR STORY */
/* ----------------------*/

.gallery {
    background-color: #f4f4f4;
}

.gallery p {
    text-align: center;
}

/* ----------------------*/
/* OUR STORY */
/* ----------------------*/

.our-story {
    background-image: url(img/hunter-min3.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.outer-box {
    background-color: rgba(209, 194, 194, 0.44);
    width: 70%;
    margin-left: 15%;
    padding-top: .1px;
    padding-bottom: 35px;
    border-radius: 2px;
}

.story-box {
    background-color: rgba(255, 255, 255, 0.89);
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    text-align: justify;
    border-radius: 2px;
}

.story-box h1 {
    padding: 15px;
}

/*
.story-box h1:after {
    display: block;
    height: 4px;
    background-color: #f4ada6;
    content: " ";
    width: 400px;
    margin: 0 auto;
    margin-top: 15px;
}
*/

.story-box p {
    color: black;
    word-spacing: 3px;
    margin-top: 0;
    padding: 25px;
    padding-top: 0;
    font-size: 85%;
}

/* ----------------------*/
/* BRIDAL PARTY */
/* ----------------------*/

.bridal-party {
    background-color: #f4f4f4;
}

/*
.bridal-party h1:after {
    display: block;
    height: 4px;
    background-color: #f4ada6;
    content: " ";
    width: 400px;
    margin: 0 auto;
    margin-top: 15px;
}
*/

.bridal-blurb img {
    padding: 8px;
    border-radius: 50%;
    opacity: 0.9;
    width: 30%;
    position: center;
    float: left;
}


.bridal-blurb img:hover {
    opacity: 1;
    transform: scale(1.15);
}

.blurb {
    display: block;
    font-size: 75%;
    box-shadow: 5px 5px 27px 1px #b1b0b0;
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
}

.blurb h3 {
    text-transform: uppercase;
    font-size: 110%;
    text-align: center;
    word-spacing: 2px;
    padding-bottom: 10px;
    color: #355E3B;
}

.blurb p {
    padding-left: 160px;
    color: #4a4a4a;
}

.festivities {
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/chandelier.jpeg);
    color: #fff;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 2px;
    background-attachment: fixed
}